# node files #
###################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
bower_components

# webstorm folder #
###################
.idea/

.DS_Store

release
temp
uploads
build
/src/js/templates.js
