extends layout

block content
  button(onclick='show()') SHOW
  button(onclick='hide()') HIDE

  #react-app!= markup

  //#podcast-player.bottom-container.animated.player-animation
    .player-container
      audio#music(preload='true')
        source(id='mp3Source')
        source(id='oggSource')
      #audioplayer
        button#pButton.play(onclick='play()')
        #timeline
          #playhead



